node_modules/
.env
*.log
scratch/
event_generator.js
animein_api_endpoints.txt
rencana_pengembangan.txt
contoh_groq_npc_event.txt
ide_fitur_ai_karakter.txt
sampelimg
prompt.txt
knowledge.json
domains.json